﻿@model WebApplication3.ViewModel.BMIData

<h2>Index</h2>

<form method="post" action="/BMI/Index">


    身高 @Html.TextBoxFor(d => d.Height)公分 @ViewBag.HeightError <br />
    體重 @Html.TextBoxFor(d => d.Weight)公斤 @ViewBag.WeightError  <br />
    <input type="submit" value="送出" />
</form>
<br />

計算結果： @Model.BMI <br />
等級： @Model.Level


